<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton type="button" label="Bagagerie" icon="pi pi-plus"></button>
  </div>
  <div class="ui-toolbar-group-right">
    <button pButton type="button" icon="pi pi-search"></button>
    <i class="pi pi-bars"></i>Fabien Lamiré
  </div>
</p-toolbar>

<p-messages [(value)]="msgs"></p-messages>

<router-outlet></router-outlet>

<p-toolbar>
  <div class="ui-toolbar-group-right">
    <button pButton type="button" label="Home" icon="pi pi-home"></button>
  </div>
</p-toolbar>